.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  height: 90vh;
  padding: 10px;
}

.outerDiv {
  height: fit-content; 
}

.outerDiv > * {
  margin: 10px
}